<div class="sidebar-header">
    <h2>PetCarePro</h2>
    <p>Animal Boarding System</p>
</div>

<nav class="sidebar-menu">

<NavLink class="menu-item" href="" Match="NavLinkMatch.All">
    <i class="bi bi-house-door"></i>
    Dashboard
</NavLink>

<NavLink class="menu-item" href="clients">
    <i class="bi bi-person"></i>
    Clients
</NavLink>

<NavLink class="menu-item" href="pets">
    <i class="bi bi-heart"></i>
    Pets
</NavLink>

<NavLink class="menu-item" href="stays">
    <i class="bi bi-calendar-check"></i>
    Stays
</NavLink>

 <NavLink class="menu-item" href="careschedules">
    <i class="bi bi-clock"></i>
    Care Schedules
</NavLink>

    <NavLink class="menu-item" href="users">
        <i class="bi bi-person-circle"></i>
        Users
    </NavLink>

</nav>

<div class="sidebar-footer">
    <small>PetCarePro v1.0</small>
</div>