@page "/"

<PageTitle>PetCarePro</PageTitle>

<h1>🐾 Welcome to PetCarePro</h1>

<p>
    Welcome to the PetCarePro management system.
</p>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Clients</h4>
            <a href="/clients" class="btn btn-primary">
                Manage Clients
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Pets</h4>
            <a href="/pets" class="btn btn-primary">
                Manage Pets
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Stays</h4>
            <a href="/stays" class="btn btn-primary">
                Manage Stays
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Users</h4>
            <a href="/users" class="btn btn-primary">
                Manage Users
            </a>
        </div>
    </div>

</div>