@page "/login"

<PageTitle>Login</PageTitle>

<div class="form-container">
    <div class="form-card">

        <h1 class="form-title">Login</h1>
        <p class="form-subtitle">Sign in to PetCarePro.</p>

       <form method="post" action="/login-submit">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input name="Username" class="form-control" />
            </div>

            <div class="mb-4">
                <label class="form-label">Password</label>
                <input name="Password" type="password" class="form-control" />
            </div>

            <button class="btn btn-primary px-4" type="submit">
                Login
            </button>
        </form>

    </div>
</div>

